<div class="wrapper">
  <div class="form-container">
    <h2>Forgot Password</h2>
    <div class="form-description">
      Enter your email address and we'll send you a link to reset your password.
    </div>
    <div class="input-group">
      <input type="email" [(ngModel)]="email" placeholder="Enter your email address">
      <div class="email-icon">&#64;</div>
    </div>
    <button class="btn" (click)="sendResetLink()">Send Reset Link</button>
    <div class="message">{{ message }}</div>
    <div class="form-footer">
     <a [routerLink]="['/auth/login']" routerLinkActive="active">Back to Login</a>

    </div>
  </div>
</div>
