 <div class="form-container">
        <h2>Reset Password</h2>
        <div class="input-group">
            <input type="password" [(ngModel)]="password" placeholder="New password" oninput="checkPasswordStrength(this.value)">
            <div class="password-strength">
                <div class="password-strength-bar" id="strength-bar"></div>
            </div>
        </div>
        <div class="input-group">
            <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password">
        </div>
        <button class="btn" (click)="resetPassword()">Reset</button>
        <div class="message">{{ message }}</div>
        <div class="form-footer">
            <a href="#">Back to Login</a>
        </div>
    </div>